<launch>
    <include file="$(find wpr_simulation)/launch/wpb_stage_robocup.launch"/>
    <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping">
        <param name="maxUrange" value="5.0"/>
        <param name="map_update_interval" value="0.1"/>
        <param name="linearUpdate" value="0.1"/>
        <param name="angularUpdate" value="0.01"/>
        
    </node>
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find slam_pkg)/rviz/slam_gmappings.rviz"/> 
    <node pkg="rqt_robot_steering" type="rqt_robot_steering" name="rqt_robot_steering"/>
</launch>